@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900&display=swap');

$fontFamily: 'Roboto';
$fontSize: 16px;
$minWidth: 320;
$maxWidth: 1920;

//переменные с цветами
$mainBgColor: #0c0a15;
$mainColor: #fff;
